<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>ToDo登録</title>
</head>
<body>
    <h1>ToDo登録</h1>
    <form th:action="@{/confirm}" th:object="${todoForm}" method="post">
        <input type="hidden" th:field="*{id}" />
        <table>
            <tr>
                <th>登録者</th>
                <td><input type="text" th:field="*{author}" /></td>
            </tr>
            <tr>
                <th>タイトル</th>
                <td><input type="text" th:field="*{title}" /></td>
            </tr>
            <tr>
                <th>詳細</th>
                <td><textarea th:field="*{detail}" rows="4" cols="30"></textarea></td>
            </tr>
        </table>
        <div>
            <button type="submit">確認</button>
            <a th:href="@{/}">戻る</a>
        </div>
    </form>
</body>
</html>